@font-face {
  font-family: 'Harry-Potter';
  src:url('Harry-Potter.ttf.woff') format('woff'),
      url('Harry-Potter.ttf.svg#Harry-Potter') format('svg'),
      url('Harry-Potter.ttf.eot'),
      url('Harry-Potter.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

div {
  text-align: center;
}

h1 {
  font-family: 'Harry-Potter';
  color: white;
  font-size: 6em;
}

h2 {
  font-family: 'Harry-Potter';
  color: #ffffff;
}

h3 {
  color: #ffffff;
}